<% if collection.any? %>
  <%= content_tag :ol, :class => "subdivisions" do %>
    <% collection.each do | item | %>
      <li class="item">
        <%= render item %>
      </li>
    <% end %>
  <% end %>
  <%= paginate collection %>
<% else %>
  <p>Нет результатов поиска</p>
<% end %>
