<% if items.empty? %>
  <h5>Нет сотрудников</h5>
<% else%>
  <div class="actions">
    <%= link_to t('active_admin.sort'), '#', :class => 'sort_link off button icon loop' %>
    <%= link_to t('active_admin.new_item'), new_admin_subdivision_item_path(@subdivision), :class => 'button icon add' %>
  </div>
  <ul class="sortable">
    <% items.each do |item|%>
      <li data-id='<%= item.id %>' class='item'>
        <div class="title">
          <span>хвать</span>
          <%= link_to "#{item.person}, #{item.title}", admin_subdivision_item_path(@subdivision, item)%>
        </div>
      </li>
    <% end%>
  </ul>
<% end%>
