<% if items.empty? %>
  <h5>Нет сотрудников</h5>
<% else%>
  <div class="actions">
    <%= link_to t('active_admin.sort'), '#', :class => 'sort_link off button icon loop' %>
    <%= link_to t('active_admin.new_item'), new_admin_subdivision_item_path(@subdivision), :class => 'button icon add' %>
  </div>
  <ul class="sortable">
    <% items.each do |item|%>
      <li data-id='<%= item.id %>' class='item'>
        <span>хвать</span>
        <%= link_to "#{item.title} #{item.person}", admin_subdivision_item_path(@subdivision, item)%>
      </li>
    <% end%>
  </ul>
<% end%>
