<div class="subdivision">
  <div class="building">
    <h4>Адрес</h4>
    <%= render subdivision.building if subdivision.building %>
  </div>
  <div class="phones">
    <h4>Телефоны</h4>
    <%= render subdivision.phones %>
  </div>
  <div class="url">
    <h4>Сайт</h4>
    <%= subdivision.url %>
  </div>
</div>
