<% if collection.any? %>
  <ul class="collection_list">
    <% collection.each do | item | %>
      <li><%= render item %></li>
    <% end %>
  </ul>
<% else %>
  Список <%= t(pluralized_model, :count => 10) %> пуст
<% end %>
