<% content_for :content do %>
  <nav>
    <ul class='categories_tree'>
      <%= expanded_ancestors(resource.ancestors.from_depth(1).all << resource) %>
    </ul>
  </nav>
  <article>
    <%= yield %>
  </article>
<% end %>
<%= render :template => 'layouts/admin' %>
