<% if categories.empty? %>
  <h5>Нет доступных элементов</h5>
<% else %>
  <ul>
    <% categories.each do |category| %>
      <li>
        <div class="title">
          <%= link_to category.title, manage_category_path(category) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
