<div class="fields">
  <%= form.inputs t('image_file'), :class => 'inputs photo bordered' do %>
    <% if resource.image_url? %>
      <li><%= link_to image_for(form.object.image_url, :width => '100'), form.object.image_url, :target => '_blank' %></li>
      <li><%= link_to t('commons.delete'), '#', :class => 'button icon remove danger delete_file' %></li>
    <% else %>
      <%= form.input :image, :label => false %>
    <% end %>
  <% end %>
</div>
