<% if items.empty? %>
  <h5>Нет сотрудников</h5>
<% else%>
  <ul class="sortable">
    <% items.each do |item|%>
      <li data-id='<%= item.id %>' class='item'>
        <%= render item %>
      </li>
    <% end%>
  </ul>
<% end%>
