<div class="user">
  <%= show_for @user do |user| %>
    <%= user.attribute :email %>
  <% end %>

  <div class="categories">
    <h3>Подразделения</h3>
    <% if @user.categories.any? %>
      <%= render_tree @user.categories_tree %>
    <% else %>
      <p>Нет подразделений</p>
    <% end %>
  </div>
</div>
