<div class="admin_user">
  <%= show_for @admin_user do |admin_user| %>
    <%= admin_user.attribute :email %>
  <% end %>

  <div class="subdivisions">
    <h3>Подразделения</h3>
    <% if @admin_user.subdivisions.any? %>
      <%= render_subdivisions_tree @admin_user.subdivisions_tree %>
    <% else %>
      <p>Нет подразделений</p>
    <% end %>
  </div>
</div>
