<% if category && can?(:manage, category) %>
  <div class="actions">
    <%#= link_to t('active_admin.sort'), sort_admin_parent_category_categories_path(category), :class => 'sort_link off button icon loop' %>
    <%#= link_to t('active_admin.new_category'),
                new_admin_parent_category_category_path(category),
                :class => 'button icon add' %>
  </div>
<% end %>

<% if children.empty? %>
  <h5>Нет дочерних категорий/подразделений</h5>
<% else %>
  <ul class="sortable">
    <% children.each do |child| %>
      <li data-id='<%= child.id %>'>
        <div class="title">
          <span>хвать</span>
          <%= link_to child.title, admin_category_path(child) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
