<div class="category">
  <div class="subdivisions">
    <div class="actions">
      <%= link_to t('active_admin.sort'), sort_admin_parent_category_categories_path(resource), :class => 'sort_link off button icon loop' if children.any? %>
      <%= link_to t('active_admin.new_category'),
        new_admin_parent_category_category_path(resource),
        :class => 'button icon add' %>
      <%= link_to t('active_admin.new_subdivision'),
        new_admin_category_subdivision_path(resource),
        :class => 'button icon add' %>
    </div>
    <%= render :partial => "children", :locals => { :children => children } %>
  </div>
</div>
