<div class="category">
  <div class="categories">
    <h3>Подразделения</h3>
    <%= render :partial => "admin/categories/categories", :locals => { :children => children, :category => @category } %>
  </div>
</div>
