// Active Admin CSS Styles
@import "active_admin/mixins"
@import "active_admin/base"
@import "buttons"
@import "compass/css3"
@import "jquery_ui"

// To customize the Active Admin interfaces, add your
// styles here:

form
  fieldset ol > li label
    line-height: 26px
    abbr
      color: #880000
      font-size: 1.3em
      margin-left: 3px
  select
    border: 1px solid #C9D0D6
    +border-radius(3px)
    font-family: Helvetica, Arial, sans-serif
    outline: none
    padding: 8px 10px 7px
    background-color: #fff
  .inputs
    input,
    select,
    textarea
      font-size: 1.2em
      padding: 4px 5px
  .phones_fieldset
    margin-bottom: 20px

body
  font-size: 11px

#header ul#tabs > li a
  +border-radius

$titlebar_right_width: 375px

#title_bar
  .breadcrumb
    line-height: 16px
    margin-bottom: 10px
  h2
    line-height: 28px
  #titlebar_left
    margin-right: $titlebar_right_width
  #titlebar_right
    width: $titlebar_right_width
  .action_items
    .action_item
      margin-left: 10px

#active_admin_content
  +clearfix
  padding: 25px 30px 55px 30px

div.subdivisions, div.items
  +clearfix

  .actions
    float: right

    .button
      font-size: 1em
      &:hover,
      &:focus,
      &:active
        color: #000
        +single-text-shadow(#eee, 1px, 1px, 1px)
        background-color: #ececec
        +background-image(linear-gradient(color-stops(#f4f4f4, #ececec)))
        border: 1px solid #d4d4d4
        &:before
          background-position: 0 -216px
      &.on
        border-color: #d4d4d4
        background-color: #ececec
        +background-image(linear-gradient(color-stops(#ececec, #f4f4f4)))
        +box-shadow(none)
        +single-box-shadow(#000, 0, 1px, 2px, false, true)
      &.add:before
        background-position: 0 -288px
      &.trash:before
        background-position: 0 -288px

  #sortable
    li
      margin: 5px 0
      span
        cursor: move
        width: 29px
        height: 13px
        text-indent: -9999em
        background: transparent image_url("sort.png") no-repeat
        margin-right: 5px
        display: none

#footer
  clear: none
  width: 100%
  padding: 2px 30px
  position: fixed
  +single-box-shadow(rgba(0, 0, 0, 0.37), 0, -1px, 2px)
  border-top: 1px solid #ededed
  bottom: 0
  background-color: #fff
