// Active Admin CSS Styles
@import "active_admin/mixins"
@import "active_admin/base"
@import 'buttons'

// To customize the Active Admin interfaces, add your
// styles here:

div.subdivisions
  +clearfix

  .top
    h4

    .actions
      float: right

      .button
        padding: 2px 3px 2px 8px

        &.on
          color: yellow

        &.off
          color: gray


