@import "compass/utilities"

.content_wrapper
  h1
    margin-bottom: 20px
  .actions
    float: right
  .subdivision
    dl
      +clearfix
      margin-bottom: 10px
    dt
      float: left
      font-weight: bold
    dd
      float: left
      margin-left: 10px
    .subdivision_phones,
    .subdivision_emails
      dt,
      dd
        float: none
