<% if children.empty? %>
  <h5>Нет подразделений</h5>
<% else %>
  <ul class="sortable">
    <% children.each do |child| %>
      <li data-id='<%= child.id %>'>
        <%= render child %>
      </li>
    <% end %>
  </ul>
<% end %>
